---
import CardEvent from "@/components/Cards/CardEvent.astro";
import Heading from "@/components/Heading.astro";
import { getEvents } from "@/lib/events-api";

const events = await getEvents();
---

<Heading>Events</Heading>
<div class="grid md:grid-cols-1 lg:grid-cols-2 gap-main">
  {events.map((e) => <CardEvent event={e} />)}
</div>
