---
import InfoSlide from "@/components/InfoSlide.astro";
import { infoSlides } from "@/content/info-slides";
---

<div class="m-auto">
  <div class="keen-slider" id="info-slideshow">
    {infoSlides.map((e) => <InfoSlide infoSlide={e} />)}
  </div>
</div>

<script>
  import KeenSlider, { type KeenSliderOptions } from "keen-slider";

  const options: KeenSliderOptions = {
    loop: false,

    slides: {
      spacing: 12,
    },
  };

  document.addEventListener("astro:after-swap", () => {
    new KeenSlider("#info-slideshow", options, []);
  });

  new KeenSlider("#info-slideshow", options, []);
</script>
