---
import Heading from "@/components/Heading.astro";
---

<div>
  <Heading>Was wir machen</Heading>

  <p>
    Unser Ziel ist der Wissensaustausch sowie die Bildung aller interessierten
    in den Bereichen neuartiger computergestützter Technologien (wie zum
    Beispiel aber nicht ausschließlich 3D-­Druck, CNC, Internet der Dinge und
    Robotik), der Elektrotechnik und Elektronik sowie auch auf Gebieten der
    Reparatur und Wartung.
    <br />
    Natürlich aber auch ganz im Sinne aller anderen Hacker- und Makerspaces das bieten
    einer Plattform, um seinen Interessen in diesen Gebieten nachzugehen von Programmieren
    bis Holz- und Metallwerken ist fast alles dabei.
    <br />
    Dazu haben wir eine immer größer werdende offene Werkstatt, die für jeden zugänglich
    sein soll!
  </p>
</div>
