---
import "pannellum/build/pannellum.css";
---

<div class="h-[60vh] w-full flex justify-center items-center">
  <div
    class="w-full h-full absolute flex flex-col justify-center items-center z-40"
  >
    <div
      id="landing-heading-container"
      style="opacity: 0;"
      class="flex flex-col justify-center items-center gap-2 backdrop-blur-2xl p-card rounded-card ring ring-primary/20
      max-md:w-[90vw]"
    >
      <!--h1>vspace.one</h1-->
      <h2 class="text-4xl text-center">Ein Makerspace und Hackerspace</h2>
      <p>
        <a class="text-xl" href="/tour">Hier gehts zur virtuellen Space-Tour!</a
        >
      </p>
    </div>
  </div>
  <div class="w-full h-full">
    <div style="opacity: 0;" class="w-full h-full" id="pano-bg"></div>
    <!--little-planet
      width="2400"
      height="900"
      class="anim"
      src="/pic/panorama/maschinenraum_half.jpg"
      mode="pano"></!little-planet-->
  </div>
  <script
    is:inline
    type="text/javascript"
    src="https://cdn.pannellum.org/2.3/pannellum.js"></script>
  <script>
    import { animate } from "motion";
    import { ease } from "@unom/style";

    const init = () => {
      const panoBg = document.getElementById("pano-bg")!;

      const viewer = pannellum.viewer(panoBg, {
        panorama: "/pic/panorama/maschinenraum_half.jpg",
        autoLoad: true,
        showControls: false,
      });

      viewer.setYaw(90, false);

      const animateEntry = () => {
        const landingHeadingContainer = document.querySelector(
          "#landing-heading-container",
        )!;

        viewer.on("load", () => {
          console.log("loaded");

          animate(
            panoBg,
            { scale: [0.9, 1], opacity: [0, 1] },
            {
              ...ease.quint!(1.5).out,
            },
          );

          animate(
            landingHeadingContainer,
            { scale: [0.4, 1], opacity: [0, 1] },
            {
              ...ease.quint!(1.4, 0.2).out,
            },
          );

          animate(
            (progress) => {
              viewer.setPitch(progress * 10, false);
              viewer.setYaw(160 + ((progress * 270) % 360), false);
              viewer.setHfov(50 + progress * 50, false);
            },
            {
              ...ease.quint!(4).inOut,
            },
          );
        });
      };

      animateEntry();
    };

    init();

    document.addEventListener("astro:after-swap", () => {
      init();
    });
  </script>
</div>
