---

---

<div class="h-[60vh] w-full flex justify-center items-center">
  <div
    class="w-full h-full absolute flex flex-col justify-center items-center z-40"
  >
    <h1>vspace.one</h1>
    <p>
      Ein Makerspace und Hackerspace.<br />
      <a href="/tour">Hier gehts zur virtuellen Space-Tour!</a>
    </p>
  </div>
</div>
