---
import Heading from "@/components/Heading.astro";
---

<div id="Mitmachen">
  <Heading>Mitmachen</Heading>
  <div class="flex gap-4">
    <div>
      <h3>Vorbeischauen</h3>
      <p>
        Du möchtest uns und unsere Räumlichkeiten gerne persönlich kennenlernen?
        Schau doch Dienstags ab 19:00 bei uns in der Am Krebsgraben 15 in
        Villingen vorbei. Dienstags findet bei uns jede Woche der Chaostreff
        statt.
      </p>
    </div>
    <div>
      <h3>Mitglied werden</h3>
      <p>
        Bei uns kann Jeder und Jede mitmachen. Interessierte Schüler, Studenten
        und Erwachsene, die sich für kreativen Umgang mit Technik begeistern
        sind willkommen. Wenn euch gefällt was wir tun und ihr uns unterstützen
        wollt findet ihr unser Beitrittsformular <a href="/mitgliedwerden"
          >hier</a
        >.
      </p>
    </div>
    <div>
      <h3>Telegram</h3>
      <p>
        Für die regelmäßige Kommunikation verwenden wir <a
          href="https://t.me/joinchat/DmNdswpnKgox_zzqENYXiA">Telegramgruppe</a
        > und <a href="https://matrix.to/#/#vspaceone-general:matrix.org"
          >Matrixroom</a
        >. Telegram und Matrix sind Nachrichtenapps, ähnlich WhatsApp. Zudem
        sind beide Chats verbunden, nutze also was dir lieber ist! Wenn du dich
        interessierst und wissen willst, was bei uns los ist, trete ihr bei oder
        schreibe uns eine Email an info[at]vspace.one.
      </p>
    </div>
    <div>
      <h3>Spenden</h3>
      <p>
        Dir gefällt was wir machen, hast aber keine Möglichkeit oder Lust
        Mitglied zu werden? Gerne nehmen wir wie <a href="/spenden"
          >hier beschrieben</a
        > deine Spende als Überweisung an.
      </p>
    </div>
  </div>
</div>
