---
import { cn } from "@/lib/utils";
import { getSpaceData } from "@/lib/space-api";
import Card from "@/components/Card.astro";

const spaceData = await getSpaceData();
---

<Card class={cn("w-full  flex justify-center items-center flex-col")}>
  <p>Unser Space ist derzeit</p>

  <div class="flex flex-row gap-2 justify-center items-center">
    <div
      class={cn(
        "w-5 h-5 rounded-full",
        spaceData.state.open ? "bg-green-300" : "bg-red-500",
      )}
    >
    </div>
    <p class="text-main font-extrabold text-3xl">
      {spaceData.state.open ? "Offen" : "Geschlossen"}
    </p>
  </div>

  <p class="text-center">
    Schaue bei unseren Terminen um herauszufinden wann <br /> du vorbeikommen kannst!
  </p>
</Card>
