---
import type { Event } from "@/lib/events-api";
import Card from "../Card.astro";

type Props = {
  event: Event;
};

const { event } = Astro.props;
---

<Card class="" padding={false}>
  <div class="bg-primary rounded-t-card p-card">
    <h3 class="text-neutral">
      <span class="block font-medium">
        {event.start?.toLocaleDateString("de-DE", { year: "numeric" })}
      </span>
      <span class="block font-bold text-4xl">
        {
          event.start?.toLocaleDateString("de-DE", {
            month: "long",
            day: "numeric",
          })
        }
      </span>
    </h3>
  </div>
  <div class="p-card">
    <h3>{event.title}</h3>
    <Fragment class="text-secondary" set:html={event.description} />
  </div>
</Card>
