---
const anim = {
  old: {
    name: "pageLeave",
    duration: "0.0s",
    easing: "ease-out",
    fillMode: "forwards",
  },
  new: {
    name: "pageEnter",
    duration: "0.7s",
    easing: "cubic-bezier(0.23, 1, 0.32, 1)",
    fillMode: "forwards",
  },
};

const slideAnimation = {
  forwards: anim,
  backwards: anim,
};
---

<main transition:animate={slideAnimation} class="pt-height-header min-h-screen">
  <slot />
</main>
