---
import logoDefault from "./logo-default.svg?raw";
import logoNoText from "./logo-no-text.svg?raw";

type Props = {
  withText?: boolean;
};

const { withText } = Astro.props;
---

<div class="w-full h-full">
  {
    withText ? (
      <Fragment set:html={logoDefault} />
    ) : (
      <Fragment set:html={logoNoText} />
    )
  }
</div>
