---
import CardSupport from "@/components/Cards/CardSupport.astro";
import Heading from "@/components/Heading.astro";
import Section from "@/components/Section.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { Euro, Award, UsersRound } from "lucide-astro";
---

<RootLayout title="Unterst端tze uns">
  <MainLayout>
    <Section>
      <Heading main>So kannst du uns unterst端tzen</Heading>
    </Section>
    <Section>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-card">
        <CardSupport
          to="/support/join"
          title="Mitglied werden"
          text="Trete dem Verein bei"
        >
          <UsersRound class="w-full h-full" slot="icon" />
        </CardSupport>
        <CardSupport
          to="/support/donate"
          title="Spenden"
          text="Unterst端tze uns durch eine Spende"
        >
          <Euro class="w-full h-full" slot="icon" />
        </CardSupport>
        <CardSupport
          to="/support/sponsor"
          title="Sponsor werden"
          text="Unterst端tze uns durch ein Sponsoring"
        >
          <Award class="w-full h-full" slot="icon" />
        </CardSupport>
      </div>
    </Section>
  </MainLayout>
</RootLayout>
