---
import Card from "@/components/Card/Card.astro";
import CardSponsor from "@/components/Cards/CardSponsor.astro";
import Heading from "@/components/Heading/Heading.astro";

import Section from "@/components/Section.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { getCollection } from "astro:content";

const sponsors = await getCollection("sponsors");

const content = await Promise.all(sponsors.map(async (e) => e.render()));
---

<RootLayout title="">
  <MainLayout>
    <Section>
      <Heading main>Unsere Sponsoren</Heading>
    </Section>
    <Section>
      <div class="flex flex-col gap-main">
        {
          sponsors.map((sponsor, index) => {
            const { Content } = content[index]!;
            return (
              <CardSponsor sponsor={sponsor.data}>
                <Content />
              </CardSponsor>
            );
          })
        }
      </div>
    </Section>
    <Section>
      <Heading>Sponsor werden</Heading>
      <Card>
        <p class="text-lg">
          Interesse an einer Kooperation?<br />
          Dann kontaktiere uns über <a href="mailto:vorstand@vspace.one"
            >vorstand [at] vspace.one</a
          >
        </p>
      </Card>
    </Section>
  </MainLayout>
</RootLayout>
