---
import Heading from "@/components/Heading.astro";
import Section from "@/components/Section.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="Seite wurde nicht gefunden">
  <MainLayout>
    <Section>
      <Heading main>Die aufgerufene Seite konnte nicht gefunden werden.</Heading
      >
    </Section>
  </MainLayout>
</RootLayout>
