---
import CardFaq from "@/components/Cards/CardFaq.astro";
import Heading from "@/components/Heading.astro";
import Section from "@/components/Section.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { getCollection } from "astro:content";

const faqs = await getCollection("faq");

const content = await Promise.all(faqs.map(async (e) => e.render()));
---

<RootLayout title="Häufig gestellte Fragen">
  <MainLayout>
    <Section>
      <Heading>Häufig gestellte Fragen</Heading>
    </Section>
    <Section>
      <div class="flex flex-col gap-main">
        {
          faqs.map((faq, index) => {
            const { Content } = content[index]!;
            return (
              <CardFaq title={faq.data.title}>
                <Content />
              </CardFaq>
            );
          })
        }
      </div>
    </Section>
  </MainLayout>
</RootLayout>
