---
import LandingHeader from "@/sections/LandingHeader.astro";
import RootLayout from "../layouts/RootLayout.astro";
import Section from "@/components/Section.astro";
import Introduction from "@/sections/Introduction.astro";
import SpaceState from "@/sections/SpaceState.astro";
import Participate from "@/sections/Participate.astro";
import Events from "@/sections/Events.astro";
import Location from "@/sections/Location.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import InfoSlideshow from "@/sections/InfoSlideshow.astro";
---

<RootLayout
  title="Makerspace, Hackerspace, Chaostreff und offene Werkstatt für Villingen-Schwenningen und Umgebung."
>
  <MainLayout>
    <Section padding={false} maxWidth={false}>
      <LandingHeader />
    </Section>
    <Section id="introduction">
      <Introduction />
    </Section>
    <Section id="participate">
      <Participate />
    </Section>
    <Section id="info-slideshow" padding={false} maxWidth={false}>
      <InfoSlideshow />
    </Section>
    <Section id="events">
      <Events />
    </Section>
    <Section id="state">
      <SpaceState />
    </Section>
    <Section id="location">
      <Location />
    </Section>
  </MainLayout>
</RootLayout>
