---
import Section from "@/components/Section.astro";
import VirtualTour from "@/components/VirtualTour.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="Virtuelle Tour durch unsere Räume">
  <MainLayout>
    <Section padding={false} maxWidth={false}>
      <VirtualTour />
    </Section>
  </MainLayout>
</RootLayout>
