---
import Section from "@/components/Section.astro";
import VirtualTour from "@/components/VirtualTour.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout title="Virtuelle Tour durch unsere Räume">
  <link
    slot="head"
    href="https://next.esm.sh/@photo-sphere-viewer/core@5.11.1/index.css"
    rel="stylesheet"
  />
  <MainLayout>
    <Section padding={false} maxWidth={false}>
      <VirtualTour />
    </Section>
  </MainLayout>
</RootLayout>
