---
import Button, { button } from "../Button.astro";
import { Menu } from "lucide-astro";
import Logo from "../Logo/Logo.astro";
---

<header
  id="nav-container"
  class="fixed -top-1 w-full h-height-header z-50 hidden"
>
  <div
    class="w-full h-full absolute -z-20 backdrop-blur-lg"
    style="background-image:
        linear-gradient(to bottom, transparent, oklch(from var(--color-neutral) l c h / 0.8)),
        repeating-linear-gradient(60deg, transparent, oklch(from var(--color-neutral-accent) l c h / 0.2) 0.5rem, var(--color-neutral-accent) 0.5rem );"
  >
  </div>
  <div
    class="flex flex-row justify-between items-center h-full w-full max-w-max-section m-auto px-section-main-x"
  >
    <div class="flex justify-center items-center">
      <a
        class="no-underline flex flex-row justify-center items-center gap-2 hover:opacity-85 transition-opacity"
        href="/"
      >
        <div class="w-10 lg:w-12 text-brand">
          <Logo withText={false} />
        </div>
        <h2
          class="text-2xl text-main tracking-widest lg:text-3xl transition-all font-extrabold font-display"
        >
          vspace.one
        </h2>
      </a>
    </div>
    <Button
      aria-label="Blendet die Navigation ein oder aus"
      variant="default"
      class="lg:hidden size-12 p-0!"
      id="nav-button"
    >
      <Menu />
    </Button>
    <div
      id="nav-mobile"
      class="animate-in slide-in-from-top-10 ease-out-quart duration-1000 absolute top-header w-full
      bg-neutral py-section-main-y px-section-main-x left-0 lg:hidden hidden flex flex-col gap-3 -z-30"
    >
      <a class={button({ variant: "secondary", size: "lg" })} href="/support"
        >Unterstütze uns</a
      >
      <a
        class={button({
          variant: "secondary",
          size: "lg",
        })}
        href="/faq">FAQ</a
      >
      <a class={button({ variant: "primary", size: "lg" })} href="/#location"
        >Besuche uns!</a
      >
    </div>
    <div class="flex flex-row gap-2 items-center max-lg:hidden">
      <a class={button({ variant: "link", size: "lg" })} href="/support"
        >Unterstütze uns</a
      >
      <a
        class={button({
          variant: "link",
          size: "lg",
          class: "max-md:hidden",
        })}
        href="/faq">FAQ</a
      >
      <a class={button({ variant: "primary", size: "lg" })} href="/#location"
        >Besuche uns!</a
      >
    </div>
  </div>
</header>

<script>
  import { animate, stagger } from "motion";
  import { ease } from "@unom/style";

  const navContainer = document.getElementById("nav-container")!;

  navContainer.classList.remove("hidden");

  animate(navContainer, { y: [-100, 0] }, { ...ease.quint!(0.8).out });

  const init = () => {
    const button = document.getElementById("nav-button")!;
    const navMobile = document.getElementById("nav-mobile")!;
    const navButtons = navMobile.children;
    const navContainer = document.getElementById("nav-container")!;

    navContainer.classList.remove("hidden");

    button.addEventListener("click", () => {
      if (navMobile.classList.contains("hidden")) {
        animate(
          navButtons as unknown as NodeListOf<any>,
          {
            y: [-30, 0],
            scale: [0.8, 1],
            opacity: [0, 1],
          },
          {
            type: "spring",
            stiffness: 200,
            damping: 20,
            mass: 1,
            delay: stagger(0.1),
          },
        );
      }

      navMobile.classList.toggle("hidden");
    });
  };

  init();

  document.addEventListener("astro:after-swap", () => {
    init();
  });
</script>
