---
import { button } from "../Button.astro";
import Logo from "components/Logo/Logo.astro";
---

<header class="fixed top-0 w-full h-16 z-50">
  <div
    class="flex flex-row justify-between h-full w-full max-w-section m-auto p-main"
  >
    <div class="w-16 h-8 flex">
      <Logo />
    </div>
    <a class={button({ variant: "primary", size: "default" })} href="/faq"
      >FAQ</a
    >
  </div>
</header>
