---
import type { InfoSlide } from "@/content/info-slides";
import { Image } from "astro:assets";

type Props = {
  infoSlide: InfoSlide;
};

const {
  infoSlide: { image, text, title, imageAlt },
} = Astro.props;
---

<div class="keen-slider__slide">
  <div class="flex flex-col lg:flex-row w-full">
    <div class="h-[500px] lg:h-[600px] xl:h-[700px] lg:w-full">
      <Image
        densities={[1.5, 2]}
        class="w-full h-full object-cover"
        src={image}
        alt={imageAlt}
      />
    </div>
    <div
      class="p-card bg-neutral-accent lg:rounded-r-card max-lg:rounded-b-card min-h-[200px] lg:w-[600px]"
    >
      <h4 class="text-2xl font-semibold mb-2">{title}</h4>
      <p>{text}</p>
    </div>
  </div>
</div>
