---
import type { InfoSlide } from "@/content/info-slides";
import { Image } from "astro:assets";

type Props = {
  infoSlide: InfoSlide;
};

const {
  infoSlide: { image, text, title, imageAlt },
} = Astro.props;
---

<>
  <div class="keen-slider__slide">
    <div
      class="flex flex-col lg:flex-row max-w-max-section m-auto px-section-main-x py-section-main-y py-0 lg:h-[600px]"
    >
      <div
        class="max-lg:rounded-t-card lg:rounded-l-card overflow-hidden
    lg:h-full lg:w-[60%] max-lg:max-h-[500px]"
      >
        <Image
          width="1000"
          height="600"
          densities={[1.5, 2]}
          format="avif"
          loading="lazy"
          class="w-full h-full object-cover object-center"
          src={image}
          alt={imageAlt}
        />
      </div>
      <div
        class="p-card bg-neutral-accent lg:rounded-r-card max-lg:rounded-b-card w-[40%] max-lg:w-full"
      >
        <h4 class="text-2xl font-semibold mb-2">{title}</h4>
        <p>{text}</p>
      </div>
    </div>
  </div>
</>
