---
import "@photo-sphere-viewer/core/index.css";
---

<div class="h-[800px] overflow-hidden">
  <div class="w-full h-full" id="photo-sphere"></div>
</div>

<script>
  const { Viewer, utils } = await import("@photo-sphere-viewer/core");

  const container: HTMLElement = document.querySelector("#photo-sphere")!;

  var viewer = new Viewer({
    container,
    navbar: false,
    panorama: "/pic/panorama/maschinenraum_quarter.jpg",
  });

  const animatedValues: any = {
    pitch: { start: -Math.PI / 2, end: 0 },
    yaw: { start: (Math.PI / 2) * 2, end: Math.PI / 2 },
    zoom: { start: 0, end: 50 },
    maxFov: { start: 130, end: 90 },
    fisheye: { start: 2, end: 0 },
  };

  new utils.Animation({
    properties: {
      ...animatedValues,
    },
    duration: 3500,
    easing: "outQuad",
    onTick: (properties) => {
      viewer.setOptions({
        fisheye: properties.fisheye!,
        maxFov: properties.maxFov!,
      });
      viewer.rotate({ yaw: properties.yaw!, pitch: properties.pitch! });
      viewer.zoom(properties.zoom!);
    },
  });
</script>
